
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class="text-white mb-0">This Year's Profits</h2>
            </div>
            
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Profits</h6>
              <h2 class="mb-0">This Year's Profits</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Recent Incomes</h3>
            </div>
            <div class="col text-right" *ngIf="incomes.length > 0">
              <a routerLinkActive="active" [routerLink]="['/monthly-incomes']" class="btn btn-sm btn-primary">
                See All
            </a>
            </div>
          </div>
        </div>
        <div *ngIf="incomes.length === 0" class="cart-body d-flex justify-content-center">
            <div class="no-records mb-3">
                <img src="./assets/img/theme/not-found.svg" alt="No records">
                  <p>No records available.</p>
              </div>
        </div>
        <div class="table-responsive" *ngIf="incomes.length > 0">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Date</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Cash/Check</th>
                  <th scope="col">Particular</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let income of incomes">
                <td>{{income.date | date : 'mediumDate'}}</td>
                  <td>{{ income.amount }}</td>
                  <td><span *ngIf="income.isCash">Cash</span><span *ngIf="income.isCheck">Check</span></td>
                  <td><span *ngIf="income.particular">{{income.particular}}</span><span *ngIf="!income.particular">N/A</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Recent Expenses</h3>
            </div>
            <div class="col text-right" *ngIf="expenses.length > 0">
              <a routerLinkActive="active" [routerLink]="['/monthly-expenses']" class="btn btn-sm btn-primary">
                See All
            </a>
            </div>
          </div>
        </div>
          <div *ngIf="expenses.length === 0" class="cart-body d-flex justify-content-center">
              <div class="no-records mb-3">
                  <img src="./assets/img/theme/not-found.svg" alt="No records">
                    <p>No records available.</p>
                </div>
          </div>
        <div class="table-responsive" *ngIf="expenses.length > 0"> 
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Date</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Cash/Check</th>
                  <th scope="col">Particular</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let expense of expenses">
                <td>{{expense.date | date : 'mediumDate'}}</td>
                  <td>{{ expense.amount }}</td>
                  <td><span *ngIf="expense.isCash">Cash</span><span *ngIf="expense.isCheck">Check</span></td>
                  <td><span *ngIf="expense.particular">{{expense.particular}}</span><span *ngIf="!expense.particular">N/A</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
