<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Approve Incomes</h3>
        </div>
        <div class="d-flex justify-content-center" *ngIf="incomes.length === 0">
          <div class="no-records mb-4">
              <img src="./assets/img/theme/blank-page.svg" alt="No records">
                <p>No incomes available to approve.</p>
            </div>
      </div>
        <div class="table-responsive"  *ngIf="incomes.length > 0">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">SL</th>
                <th scope="col">Approve</th>
                <th scope="col">Amount</th>
                <th scope="col">Cash/Check</th>
                <th scope="col">Particular</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let income of incomes">
                <td>{{ incomes.indexOf(income)+1 }}</td>
                <td>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" [checked]="incomeIds.includes(income.id)" [id]="'customCheck' + income.id" [value]="income.id" (change)="addToApprovalCollection(income.id)" type="checkbox">
                    <label class="custom-control-label" [for]="'customCheck' + income.id"></label>
                  </div>
                </td>
                <td>{{ income.amount }}</td>
                <td><span *ngIf="income.isCash">Cash</span><span *ngIf="income.isCheck">Check</span></td>
                <td>{{ income.particular }}</td>
                <td>{{ income.date | date : 'longDate'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4" *ngIf="incomes.length > 0">
          <div class="d-flex justify-content-between mb-0">
              <div>
                  <button class="btn btn-primary mb-1" (click)="approveSelectedIncomes()">Approve</button>
                  <button class="btn btn-primary mb-1" (click)="approveAllIncomes()">Approve All</button>
              </div>
              <ngb-pagination [collectionSize]="pagination.totalItems" 
              [(page)]="pagination.currentPage" 
              [boundaryLinks]="true"
              [pageSize]="pagination.itemsPerPage" 
              (pageChange)="pageChanged($event)"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
