<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Save Income</h3>
        </div>
        <div class="form-area">
          <form [formGroup]="saveIncomeForm" (ngSubmit)="saveIncome()">
    <div class="row">
      <div class="col-md-8 form-inner-area">
          <div class="form-group row">
              <label for="amount" class="col-sm-3 col-form-label">Amount</label>
              <div class="col-sm-9">
                <input type="text" 
                class="form-control" 
                [ngClass]="{
                  'is-invalid':
                  saveIncomeForm.get('amount').errors &&
                  saveIncomeForm.get('amount').touched
                }"
                formControlName="amount" 
                placeholder="10000">
                <div
                  class="invalid-feedback"
                  *ngIf="
                  saveIncomeForm.get('amount').touched &&
                  saveIncomeForm.get('amount').hasError('required')
                  ">
                  Please enter amount
                </div>
              </div>
            </div>
          <div class="form-group row">
              <div class="col-sm-9 offset-3">
                  <div class="custom-control custom-radio mb-3">
                      <input class="custom-control-input" value="cash" formControlName="paymentType" name="paymentType" id="isCash" type="radio">
                      <label class="custom-control-label" for="isCash">Cash</label>
                    </div>
                  <div class="custom-control custom-radio mb-3">
                      <input class="custom-control-input" value="check" formControlName="paymentType" name="paymentType" id="isCheck" type="radio">
                      <label class="custom-control-label" for="isCheck">Check</label>
                    </div>
              </div>
            </div>
          <div class="form-group row" *ngIf="saveIncomeForm.get('paymentType').value == 'check'">
              <label for="checkNo" class="col-sm-3 col-form-label">Check No.</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" 
                formControlName="checkNo" 
                placeholder="2787315"
                [ngClass]="{
                  'is-invalid':
                  saveIncomeForm.get('checkNo').errors &&
                  saveIncomeForm.get('checkNo').touched
                }">
                <div
                  class="invalid-feedback"
                  *ngIf="
                  saveIncomeForm.get('checkNo').touched &&
                  saveIncomeForm.get('checkNo').hasError('required')
                  "
                >
                  Please enter check no.
                </div>
              </div>
            </div>
          <div class="form-group row" *ngIf="saveIncomeForm.get('paymentType').value == 'check'">
              <label for="bankName" class="col-sm-3 col-form-label">Bank Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" 
                [ngClass]="{
                  'is-invalid':
                  saveIncomeForm.get('bankName').errors &&
                  saveIncomeForm.get('bankName').touched
                }"
                formControlName="bankName"
                placeholder="Islami Bank Bangladesh Ltd.">
                <div
                  class="invalid-feedback"
                  *ngIf="
                  saveIncomeForm.get('bankName').touched &&
                  saveIncomeForm.get('bankName').hasError('required')
                  "
                >
                  Please enter bank name
                </div>
              </div>
            </div>
          <div class="form-group row">
              <label for="particular" class="col-sm-3 col-form-label">Particular</label>
              <div class="col-sm-9">
                  <textarea class="form-control" formControlName="particular" 
                  [ngClass]="{
                    'is-invalid':
                    saveIncomeForm.get('particular').errors &&
                    saveIncomeForm.get('particular').touched
                  }"
                  rows="3" placeholder="Paper purchase"></textarea>
                  <div
                  class="invalid-feedback"
                  *ngIf="
                  saveIncomeForm.get('particular').touched &&
                  saveIncomeForm.get('particular').hasError('required')
                  "
                >
                  Please enter particular
                </div>
              </div>
            </div>
            <div class="form-group row">
                <label for="date" class="col-sm-3 col-form-label">Date</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                        </div>
                        <input class="form-control datepicker" 
                        [ngClass]="{
                          'is-invalid':
                          saveIncomeForm.get('date').errors &&
                          saveIncomeForm.get('date').touched
                        }"
                        formControlName="date" placeholder="Select date" name="date" 
                        ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" type="text"/>
                        <div
                  class="invalid-feedback"
                  *ngIf="
                  saveIncomeForm.get('date').touched &&
                  saveIncomeForm.get('date').hasError('required')
                  "
                >
                  Please enter date
                </div>
                      </div>
                </div>
               
              </div>
              <div class="form-group row">
                  <div class="col-sm-9 offset-3">
                      <button type="submit" class="btn btn-primary" [disabled]="!saveIncomeForm.valid">
                          Save
                        </button>
                  </div>
                </div>
      </div>
      
    </div>
   
  </form>
        </div>
      </div>
    </div>
  </div>
</div>
