
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Monthly Profits</h3>
        </div>
        <div class="d-flex justify-content-center low-height-select" [ngClass]="{'mb-3': profits.length === 0 && !showClicked}">
            <form class="form-inline my-3" role="form" #yearlyProfitForm="ngForm" (ngSubmit)="getYearlyProfits()">
                <label class="mb-2 mr-2" for="inlineFormCustomSelectPref">Select year</label>
                <select class="custom-select mb-2 mr-sm-2" required id="year" name="year" [(ngModel)]="model.year">
                    <option value="">--Select year--</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                  </select>
                
              
                <button type="submit" [disabled]="!yearlyProfitForm.valid" class="btn btn-primary mb-2">Show</button>
              </form>
        </div>
        <p class="text-center mb-4" *ngIf="profits.length === 0 && showClicked">
          No records available
        </p>
        <div class="table-responsive"  *ngIf="profits.length > 0">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Month</th>
                <th scope="col">Income</th>
                <th scope="col">Expense</th>
                <th scope="col">Profit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let profit of profits">
                <td>{{ profit.monthName }}</td>
                <td>{{ profit.income }}</td>
                <td>{{ profit.expense }}</td>
                <td>{{ profit.totalProfit }}</td>
              </tr>
              <tr>
                <td><strong>Total</strong></td>
                <td><strong>{{ yearlyIncome }}</strong></td>
                <td><strong>{{ yearlyExpense }}</strong></td>
                <td><strong>{{ yearlyProfit }}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4" *ngIf="profits.length > 0">
          <div class="d-flex justify-content-end mb-0">
              <div>
                  <button class="btn btn-primary" (click)="generatePdf()">Pdf</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
